@font-face {
    font-display: swap; 
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v17-cyrillic-regular.woff2') format('woff2'); 
  }
  
  @font-face {
    font-display: swap; 
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v17-cyrillic-700.woff2') format('woff2'); 
  }

@font-face {
    font-display: swap; 
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-narrow-v18-cyrillic-700.woff2') format('woff2'); 
  }
  
  
  /* body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #000000;
    background-image: url(../img/visual/background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}  */


body {
    font-family: 'PT Sans', 'Arial', sans-serif;
}

/* 
h2 {
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
} */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}